@mixin tracking($tracking) {
    letter-spacing: ($tracking / 1000) * 1em; 
}
@mixin display-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
@mixin flex-flow-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
}
@mixin flex-flow-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-flow: row-reverse;
    flex-flow: row-reverse;
}
@mixin flex-direction-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
@mixin flex-direction-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
@mixin flex-display-column($margin-top, $width) {
    @include display-flex;
    @include flex-flow-column;
    margin: auto;
    margin-top: $margin-top;
    width: $width;
}
@mixin align-items($how) {
    -webkit-box-align: $how;
    -ms-flex-align: $how;
    align-items: $how;
}
@mixin transform ($how) {
  -webkit-transform: $how;
          transform: $how;
}
@mixin transition-transform {
    transition: 0.3s -webkit-transform linear;
    transition: 0.3s transform linear;
    transition: 0.3s transform linear, 0.3s -webkit-transform linear;
}



@mixin button($color, $back-color) {
    @include tracking(25);
    background-color: $back-color;
    border: 0;
    padding: 14px 32px;
    font-size: 21.18px;
    font-weight: bold;
    color: $color;
    text-transform: uppercase;
    transition: 0.4s ease-in-out;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: -3.508px 11.476px 40px 0px rgba(0, 1, 1, 0.47);
    &:hover {
        background-color: $color;
        color: $back-color;
    }
}