@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Open+Sans:300,400,600,700,800&subset=latin-ext");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote {
  quotes: none; }
  blockquote:before, blockquote:after {
    content: '';
    content: none; }

q {
  quotes: none; }
  q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Peace Sans';
  src: url(../fonts/peace_sans.woff); }
* {
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  color: #494949;
  background-color: #FFFFFF;
  font-size: 1.5rem;
  line-height: auto; }

.text-hidden {
  height: 0;
  text-indent: -1000000px; }

.page-header {
  font-family: "Lato", sans-serif;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 57px; }
  .page-header .drop-down-menu {
    position: absolute;
    top: -30px;
    right: 30px;
    height: 8px;
    padding: 5px;
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
    transition: 0.3s -webkit-transform linear;
    transition: 0.3s transform linear;
    transition: 0.3s transform linear, 0.3s -webkit-transform linear;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
    .page-header .drop-down-menu.drop-down-menu-change {
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
      bottom: 10px; }
  .page-header .logo-div {
    position: absolute;
    top: -30px;
    left: 30px;
    width: 115px; }
  .page-header .nav-links {
    display: none; }
    .page-header .nav-links.nav-opened {
      display: block;
      margin-top: 30px;
      background-color: #FFFFFF;
      opacity: 0.95;
      position: relative;
      z-index: 100; }
      .page-header .nav-links.nav-opened::before {
        position: absolute;
        content: '';
        border-bottom: 10px solid #FFFFFF;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        height: 20px;
        top: -29px;
        right: 25px; }
      .page-header .nav-links.nav-opened li {
        padding: 30px;
        border-bottom: 1px ridge;
        text-align: center; }
        .page-header .nav-links.nav-opened li:nth-child(8), .page-header .nav-links.nav-opened li:nth-child(9) {
          display: none; }
        .page-header .nav-links.nav-opened li a {
          text-decoration: none;
          color: #020410;
          text-transform: uppercase; }
        .page-header .nav-links.nav-opened li:hover {
          background-color: #C7C7C7;
          font-weight: bold;
          border-left: 3px solid #BC2E3A; }

.main-page header {
  background: url(../images/background_header.png) center top no-repeat;
  background-size: cover;
  text-align: center;
  color: #FFFFFF;
  font-weight: 200;
  height: 100vh; }
  .main-page header .button-read {
    letter-spacing: 0.025em;
    background-color: #FFFFFF;
    border: 0;
    padding: 14px 32px;
    font-size: 21.18px;
    font-weight: bold;
    color: #242424;
    text-transform: uppercase;
    transition: 0.4s ease-in-out;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: -3.508px 11.476px 40px 0px rgba(0, 1, 1, 0.47);
    position: relative;
    bottom: -90vh; }
    .main-page header .button-read:hover {
      background-color: #242424;
      color: #FFFFFF; }
  .main-page header .img-header-model {
    position: absolute;
    width: 350px;
    height: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 60px; }
  .main-page header .img-header-text {
    position: absolute;
    width: 90vw;
    height: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 105px; }
.main-page section {
  font-weight: 300;
  margin: 40px auto; }
  .main-page section h3 {
    font-size: 5.5rem;
    font-family: "Peace Sans";
    text-align: center;
    padding: 20px; }
  .main-page section h4 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: #6F6F6E;
    letter-spacing: -0.025em; }
  .main-page section p {
    font-size: 1.7rem;
    line-height: 3rem;
    color: #6a6a6a;
    padding: 20px 8%;
    text-align: justify; }
  .main-page section .button-read {
    letter-spacing: 0.025em;
    background-color: #BC2E3A;
    border: 0;
    padding: 14px 32px;
    font-size: 21.18px;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
    transition: 0.4s ease-in-out;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: -3.508px 11.476px 40px 0px rgba(0, 1, 1, 0.47);
    margin: 20px 0 40px;
    position: relative;
    left: 25%; }
    .main-page section .button-read:hover {
      background-color: #FFFFFF;
      color: #BC2E3A; }
.main-page .section-about {
  align-content: center;
  position: relative; }
  .main-page .section-about .div-img-about {
    max-width: 90vw;
    margin: 0 auto; }
    .main-page .section-about .div-img-about .img-about {
      max-width: 90vw; }
.main-page .section-services {
  background-color: #F5F5F5; }
  .main-page .section-services h3 {
    margin-bottom: 50px; }
  .main-page .section-services p {
    text-align: center;
    padding-bottom: 50px; }
  .main-page .section-services .single-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .main-page .section-services .section-icon {
    width: 74px;
    height: 74px;
    background-color: #BC2E3A;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: -3.508px 11.476px 40px 0px rgba(0, 1, 1, 0.47); }
  .main-page .section-services span {
    position: absolute;
    top: 16px;
    left: 20px;
    width: 36px;
    height: 38px;
    padding: 9px 18px;
    background: url(../images/icons.png) center center no-repeat; }
    .main-page .section-services span.icon-flag {
      background-position: 0 0; }
    .main-page .section-services span.icon-computer {
      background-position: -36px 0; }
    .main-page .section-services span.icon-graph {
      background-position: -72px 0; }
    .main-page .section-services span.icon-woman {
      background-position: -108px 0; }
    .main-page .section-services span.icon-map {
      background-position: -144px 0; }
    .main-page .section-services span.icon-message {
      background-position: -180px 0; }
.main-page .section-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  position: relative; }
  .main-page .section-work .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    flex: 0 1 80%;
    display: table;
    overflow: hidden;
    width: 100%;
    margin: 20px 0; }
  .main-page .section-work .div-img-work {
    flex: 0 1 120px;
    display: block;
    max-width: 60vw;
    margin: 0 auto 30px;
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
    overflow: hidden;
    background-position: center;
    background-size: cover;
    position: relative;
    transition: ease-out 0.7s 0.4s;
    box-shadow: -3.508px 11.476px 40px 0px rgba(0, 1, 1, 0.47); }
    .main-page .section-work .div-img-work.idea::before {
      background: url(../images/image_about_work_1.png) no-repeat; }
    .main-page .section-work .div-img-work.design::before {
      background: url(../images/image_about_work_2.png) no-repeat; }
    .main-page .section-work .div-img-work.work::before {
      background: url(../images/image_about_work_3.png) no-repeat; }
    .main-page .section-work .div-img-work.idea::before, .main-page .section-work .div-img-work.design::before, .main-page .section-work .div-img-work.work::before {
      content: "";
      position: absolute;
      -webkit-transform: skewX(25deg);
      transform: skewX(25deg);
      background-size: cover;
      background-position: center;
      width: 160%;
      height: 120%;
      bottom: 0;
      left: 0;
      transform-origin: left bottom; }
    .main-page .section-work .div-img-work::after {
      content: "";
      display: block;
      background: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .main-page .section-work .div-img-work .title, .main-page .section-work .div-img-work .number {
      font-family: "Lato", sans-serif;
      font-weight: 700;
      z-index: 2;
      text-transform: uppercase;
      letter-spacing: 0.025em;
      color: #FFFFFF;
      position: relative;
      -webkit-transform: skewX(25deg);
      transform: skewX(25deg); }
    .main-page .section-work .div-img-work .title {
      font-size: 3rem;
      bottom: -67px; }
    .main-page .section-work .div-img-work .number {
      font-size: 4rem;
      top: -42px;
      float: right; }
    .main-page .section-work .div-img-work .description {
      display: none; }
.main-page .section-team {
  background-color: #F5F5F5;
  position: relative; }
  .main-page .section-team .left-btn, .main-page .section-team .right-btn {
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    z-index: 100;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    cursor: pointer; }
  .main-page .section-team .left-btn {
    left: 40px;
    border-width: 48px 48px 48px 0;
    border-color: transparent #424240 transparent transparent; }
  .main-page .section-team .right-btn {
    right: 40px;
    border-width: 48px 0 48px 48px;
    border-color: transparent transparent transparent #424240; }
  .main-page .section-team .slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    min-height: 600px;
    padding: 80px; }

.page-footer {
  background-color: #171717;
  background: url(../images/background_footer.png) center top no-repeat;
  background-size: cover; }

/*# sourceMappingURL=style.css.map */
